<!DOCTYPE html>
<html>

<head>
    <title>Buy Product</title>
    <script src="buy_product.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <h1>Complete Order sd</h1>
        <h2>Product Details</h2>
        <article id="product-details"></article>
        <h2>Customer Details</h2>
        <form id="customer-details-form">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname">
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="street">Street:</label>
            <input type="text" name="street" id="street">
            <label for="postcode">Postcoe:</label>
            <input type="text" name="postcode" id="postcode">
            <label for="city">City:</label>
            <input type="text" name="city" id="city">
            <label for="state">State</label>
            <input type="text" name="state" id="state">
            <input type="submit" value="Buy!">
        </form>
    </main>
</body>

</html>