<!DOCTYPE html>
<html>

<head>
    <title>Create Customer</title>
    <script src="create_customer.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <form id="create-customer-form">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="street">Street:</label>
            <input type="text" id="street" name="street">
            <label for="postcode">Postcode:</label>
            <input type="number" id="postcode" name="postcode">
            <label for="city">City:</label>
            <input type="text" id="city" name="city">
            <label for="state">State:</label>
            <input type="text" id="state" name="state">

            <input type="submit" value="Create customer">
        </form>
    </main>
</body>

</html>