<!DOCTYPE html>
<html>

<head>
    <title>Delete User</title>
    <script src="delete_user.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <h1>Confirm delete:</h1>
        <article id="user-details">

        </article>
        <input type="button" value="Delete" id="delete-button">
        <a href="/list_users.html">Back</a>
    </main>
</body>

</html>