<!DOCTYPE html>
<html>

<head>
    <title>The Mobile Hour</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <section>
            <article>
                <h1>The Mobile Hour</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quia blanditiis, aspernatur est expedita nulla sequi cumque dignissimos ipsam necessitatibus voluptatem ullam magnam dolorum ipsum, esse iusto sapiente, recusandae quos?</p>
            </article>
        </section>
    </main>
</body>

</html>