<!DOCTYPE html>
<html>

<head>
    <title>List Customers</title>
    <script src="list_customers.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <a href="/create_customer.html">Create Customer</a>
        <section class="data-list" id="customer-list">
            <!-- <article class="data-row"> -->
            <!-- <span>Name</span>
                    <span>Username</span>
                    <a href="#">Edit</a> -->
            <!-- </article> -->
        </section>
    </main>
</body>

</html>