<!DOCTYPE html>
<html>

<head>
    <title>List Users</title>
    <script src="list_users.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <a href="/create_user.html">Create User</a>
        <section class="data-list" id="user-list">
            <!-- <article class="data-row"> -->
            <!-- <span>Name</span>
                    <span>Username</span>
                    <a href="#">Edit</a> -->
            <!-- </article> -->
        </section>
    </main>
</body>

</html>