<!DOCTYPE html>
<html>

<head>
    <title>List Orders</title>
    <script src="list_orders.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <section class="data-list" id="order-list">

            <!-- <article class="data-row"> -->
            <!-- <span>Name</span>
                    <span>Username</span>
                    <a href="#">Edit</a> -->
            <!-- </article> -->
        </section>
    </main>
</body>

</html>