<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <script src="list_products_customer.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <section class="tool-bar">
            <input type="text" name="search-term" id="search-term">
            <input type="button" value="Search" id="search">
        </section>
        <section class="data-grid" id="product-list">
            <article class="data-cell product-card">
                <img src="/img/rotary_phone.jpg" alt="Rotary Phone">
                <span>Phone Name</span>
                <span>Model</span>
                <span>Brand</span>
                <a href="view_product.html">View</a>
                <a href="buy_product.html">Buy</a>
            </article>
        </section>
    </main>
</body>

</html>