<!DOCTYPE html>
<html>

<head>
    <title>Login User</title>
    <script src="login.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="page">
        <nav id="nav-component"></nav>
        <form id="login-user-form">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Login">
        </form>
    </main>
</body>

</html>